:root {
  --text-color: #213547;
  --accent: #b14083;
  --accent-hover: #9e3975;
  --accent-bright: #ffebf7;
  --text-accent: #3b3b3b;
  --text-over-accent: #ffffff;
  --hover: #555555;
  --bg-color: #fcfcfc;
  --bg-dark: #eeeeee;

  color-scheme: light;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.dark {
  --text-color: #fcfcfc;
  --accent: #f358b3;
  --accent-hover: #9e3975;
  --accent-bright: #232a45;
  --text-accent: #e9db89;
  --text-over-accent: #2b2b2b;
  --hover: #b0a568;
  --bg-color: #343f64;
  --bg-dark: #232a45;

  color-scheme: dark;
  color: var(--text-color);
  background-color: var(--bg-color);
}



@import 'tailwindcss';

@layer components {
  a {
    font-weight: 500;
    color: var(--text-accent);
    text-decoration: inherit;
    transition: color .3s ease;
  }

  a:hover {
    color: var(--hover);
  }

  body {
    margin: 0 auto;
    min-width: 320px;
    height: 100vh;
  }

  button {
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1;
    color: var(--text-over-accent);
    border: none;
    border-radius: 5px;
    background-color: var(--accent);
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--accent-hover);
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}