.task {
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;
	}

	&__output {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 160px;

		h2 {
			margin: 0;
		}

		p {
			margin-bottom: 0;
			line-height: 1;
		}

		svg {
			width: 100px;
			height: 100px;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	&__item {
		flex-grow: 1;
		position: relative;
		padding-left: 30px;
		text-align: center;

		&:focus-within {
			[class*="label"] {
				top: -2px;
				padding-left: 0;
			}
		}

		&.--required {
			&::before {
				content: "*";
				position: absolute;
				top: 20px;
				right: 0;
				color: var(--accent);
			}
		}
	}

	&__icon {
		position: absolute;
		top: 20px;
		left: 0;
		font-size: 25px;
		color: #fcfcfc;
	}

	&__input {
		width: 100%;
		height: 32px;
		margin-top: 20px;
		padding: 0 12px;
		font-size: 16px;
		line-height: 1.5;
		color: #fcfcfc;
		border-bottom: 1px solid rgba(#fcfcfc, 0.2);
		background-color: var(--bg-color);
		transition: border-color 0.3s ease;

		&:focus {
			border-color: var(--accent);
		}

		&::placeholder {
			font-size: 0;
			color: transparent;
		}

		&:not(:placeholder-shown) {
			+ [class*="label"] {
				top: -2px;
				padding-left: 0;
			}
		}
	}

	&__label {
		z-index: 1;
		position: absolute;
		top: 28px;
		left: 35px;
		display: block;
		padding-left: 12px;
		font-size: 14px;
		white-space: nowrap;
		transition: top 0.3s ease, padding 0.3s ease, font-size 0.3s ease;
		pointer-events: none;
		color: rgba(var(--text-color), 0.8);

		&::before {
			top: 2px;
		}
	}
}
